img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 40%;
    display: inline-block; 
}

.pix {
	margin: auto;
	width: 66.6%;
}

#foot {
	text-align: right;
	color: purple;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
	text-decoration-color: purple;
}
