body {
	background-color: #d0d0d0;
}

img {
    border: 1% solid black; 
    border-radius: 4%;  
    padding: 5%;
    width: 90%;
    display: inline-block; 
    margin: auto;
}

.pix {
	width: 33.3%;
	float: right;
	clear: none;
	background-color: #444444;
	border-radius: 4%;
	align-content: center;
	margin-left: 2.5%;
}

#foot {
	text-align: right;
	color: purple;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

hr {
	width: 75%;
}

.section {
	display: block;
	clear: both;
	padding: 1em;
}

/*
div p {
	margin-right: 5%;
}
*/
