body {
	background-color: #d0d0d0;
}

header {
	background-color: purple;
	color: #d0d0d0;
	border-radius: 4px;
	padding: 1%;
	width: 80%;
}

header a:link{
	color: #d0d0d0;
}

header a:visited{
	color: #d0d0d0;
}

header a:hover{
	color: #d0d0d0;
}

header li {
	float: left;
	padding: 1em;
	background-color: purple;
	color: #d0d0d0;
	border: 2px solid black;
	border-radius: 4px;
	padding: 1%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



img {
/*
    border: 1% solid black; 
    border-radius: 4%;  */
    padding: 2.5%;
    width: 90%;
    display: inline-block; 
    margin-left: 2.5%;
    margin-right: 5%;
}

.pix {
	width: 33.3%;
	float: right;
	clear: none;
	background-color: #444444;
	border-radius: 4%;
	align-content: center;
	padding: 1.25% 0% 1.25% 0%;
	margin-left: 2.5%;
}

#foot {
	background-color: purple;
	text-align: center;
	clear: both;
	float: right;
	width: 75%;
	color: #d0d0d0;
	border-radius: 4px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5%;
}

a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.section {
	display: block;
	clear: both;
	padding: 1em;
}

section h2 {
	color: #444444;
}

.name {
	color: blue;
	font-size: 0.75em;
}

q, cite {
	font-size: 0.75em;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
}
